.post_review_count_admin_table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.post_review_count_admin_table td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.review_admin_paginations{
	border:1px solid #ddd;
	padding: 5px;
	font-size: 12px;
	margin: 5px;
	cursor: pointer;
}

.review_admin_paginations_pre{
	border:1px solid #ddd;
	padding: 5px;
	font-size: 12px;
	margin: 5px;
	cursor: pointer
}
.review_admin_paginations_next{
	border:1px solid #ddd;
	padding: 5px;
	font-size: 12px;
	margin: 5px;
	cursor: pointer
}

.admin_review_loadmore_loading_div {
    position: absolute;
    top: 39.5%;
    background: #00000057;
    height: 700px;
    width: 100%;
}

.admin_review_loadmore_loading_img {
    position: absolute;
    top: 48%;
    right: 50%;
}

.active_btn{
	background-color: #ddd;
}

ul.review_admin_paginations_ul {
    display: inline-flex;
}

table#dom767_review_list_admin tbody tr td:last-child {
    min-width: 220px;
}

th.sorting_disabled:nth-child(6) {
    width: 70px !important;
}

th.sorting_disabled:nth-child(6) input {
    width: 70px !important;
}
form#dom767_admin_review_edit_form {
    display: grid;
}
form#dom767_admin_review_edit_form input {
    margin-bottom: 20px;
}
form#dom767_admin_review_edit_form textarea {
    margin-bottom: 20px;
}

td.admin_review_media_td {
    width: 305px;
}

.admin-review-edit-modal .modal-backdrop {
  background-color:#fff !important;
}
.modal-content {
  background-color:#fff !important;
}

.dom767_adminReviewMedia:hover {
    cursor: pointer;
}
.dom767_adminReviewMediaSingle{
  position: relative;
}

.dom767_adminReviewMedia {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 2;
}
.dom767_adminReviewMediaSingle {
    display: inline-block;
}
i.fas.fa-eye.adminReviewMediaViewIcon {
    position: absolute;
    top: 30%;
    left: 30%;
    color: #fff;
    display: none;
}

.dom767_adminReviewMedia {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 2;
    background: #0a0a0a73;
    display: none;
}
.dom767_adminReviewMediaSingle:hover .dom767_adminReviewMedia{
  display: block;
}
.dom767_adminReviewMediaSingle:hover i.fas.fa-eye.adminReviewMediaViewIcon{
  display: block;
}
img.adminReviewImgDeleteLoader {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 25%;
    left: 25%;
    
}
.dislpayNone{
  display: none;
}